.top-header {
    text-align: center;
    background-color: #222222;
    color: #d3d3d3;
    font-size: 12px;
    padding: 5px;
    padding-bottom: 0px;
    overflow: hidden;
    height: 30px;
}

.top-header-address {
    width: 60%;
    text-align: left;
}

.address-info {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.address-info li a {
    text-decoration: none;
    color: #d3d3d3;
}

.top-header-contact {
    width: 40%;
    text-align: right;
}

.address-info li {
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0px;
}

.header-logo {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #f5f5f5;
}

.header-menu {
    padding: 20px;
    text-align: center;
}

.menu {
    font-size: 16.5px;
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.menu-option {
    margin: 5px 5px 5px 30px;
    position: relative;
}

.menu-option a {
    text-decoration: none;
    color: #a1a1a1;
}

.menu-option a:hover {
    color: black;
}

.sub-menu {
    padding: 0;
    margin: 0;
    width: 400%;
    display: none;
    text-align: left;
    list-style-type: none;
    left: 0;
    top: 100%;
    background-color: white;
    position: absolute;
    z-index: 100;
}

.menu-option:hover .sub-menu {
    display: block;
}

.sub-menu-opt {
    padding: 10px;
}

.sub-menu-opt:hover a {
    color: white;
}
.sub-menu-opt:hover {
    background-color: #bdab95;
}
/* Block slider image coursel, form */
.image-slider {
    position: relative;
    width: 100%;
    height: 540px;
}
.small-description {
    margin: 10% 30% 10% 15%;
}
.small-description h1 {
    font-family: "Old Standard TT";
    font-size: 55px;
    font-weight: 200;
    color: white;
}
.small-description p {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
.small-booking-form {
    width: 30%;
    position: absolute;
    top: 30%;
    left: 55%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.input-group-form {
    margin-top: 10px;
}
.input-group-form input {
    border: none;
}
.input-group-form span {
    background-color: white;
    color: #bdab95;
    border: none;
}
.checking-button {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    color: white;
    background-color: #bdab95;
}
/* Block Small information */

.small-information {
    margin-top: 150px;
    margin-bottom: 150px;
}

.description-1 {
    font-size: 16px;
    color: #bdab95;
}

.location {
    font-size: 19px;
    font-family: "Open Sans";
}

.slogan {
    font-size: 40px;
    font-family: "Old Standard TT";
}

.image-hotel {
    text-align: right;
}

.image-hotel img {
    width: 100%;
}

/* footer */
footer {
    background-color: #222222;
}
.bot-footer {
    padding: 50px;
    color: #bdab95;
}
.bot-description{
    margin-top: 30px;
}
.bottom-title {
    font-size: 20px;
}
.bot-contact-information{
    list-style-type: none;
    margin-top: 20px;
}
.bot-contact-information li{
    margin-top: 10px;
}
.input-group-form-bot {
    margin-top: 10px;
}
.input-group-form-bot input {
    border: none;
    padding: 10px;
}
.input-group-form-bot span {
    background-color: white;
    color: #bdab95;
    border: none;
}
.submit-button-bot {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #bdab95;
    border: none;
}
