.top-header {
    text-align: center;
    background-color: #222222;
    color: #d3d3d3;
    font-size: 12px;
    padding: 5px;
    padding-bottom: 0px;
    overflow: hidden;
    height: 30px;
}

.top-header-address {
    width: 60%;
    text-align: left;
}

.address-info {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.address-info li a {
    text-decoration: none;
    color: #d3d3d3;
}

.top-header-contact {
    width: 40%;
    text-align: right;
}

.address-info li {
    margin-left: 10px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0px;
}

.header-logo {
    text-align: center;
    padding: 40px;
    border-bottom: 1px solid #f5f5f5;
}

.header-menu {
    padding: 10px;
    text-align: center;
}

.menu {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.menu-option {
    padding: 10px;
    position: relative;
}

.menu-option a {
    text-decoration: none;
    color: black;
}

.menu-option a:hover {
    font-weight: bold;
}

.sub-menu {
    padding: 0 5px;
    width: 250%;
    display: none;
    text-align: left;
    list-style-type: none;
    left: 0;
    top: 100%;
    background-color: white;
}

.menu-option:hover .sub-menu {
    display: block;
    position: absolute;
}

.sub-menu-opt {
    padding: 5px;
}

.sub-menu-opt a:hover {
    font-weight: bold;
}

/* Block Small information */

.small-information {
    margin: 50px;
}

.location {
}

.slogan {
    font-size: 30px;
}

.image-hotel {
    text-align: right;
}

.image-hotel img {
    width: 70%;
}

/* footer */
.footer {
    border: 1px solid black;
}
